In [2]:
#A
minhaLista= [76, 92.3, 'oi', True, 4, 76]
minhaLista2= ['Pitomba', 76]
minhaLista3= minhaLista + minhaLista2
print(minhaLista3)

[76, 92.3, 'oi', True, 4, 76, 'Pitomba', 76]

In [5]:
#B
novaLista= (minhaLista[:3] + ['Cibele'] + minhaLista[3:])
print(minhaLista + novaLista)

[76, 92.3, 'oi', True, 4, 76, 76, 92.3, 'oi', 'Cibele', True, 4, 76]

In [6]:
#C
print(novaLista)
valor = [99]
valor=(valor+minhaLista)
print(valor)

[76, 92.3, 'oi', 'Cibele', True, 4, 76]
[99, 76, 92.3, 'oi', True, 4, 76]

In [7]:
#D
minhaLista= [76, 92.3, 'oi', True, 4, 76]
if(minhaLista[0] == 'oi'):
  print('o indicie procurado é o zero')
elif(minhaLista[1] == 'oi'):
  print('o indicie procurado é o primeiro')
elif(minhaLista[2] == 'oi'):
  print('o indicie procurado é o segundo')
elif(minhaLista[3] == 'oi'):
  print('o indicie procurado é o terceiro')
elif(minhaLista[4] == 'oi'):
  print('o indicie procurado é o quarto')
elif(minhaLista[5] == 'oi'):
  print('o indicie procurado é o quinto')

o indicie procurado é o segundo

In [8]:
#E
minhaLista= [76, 92.3, 'oi', True, 4, 76]
novaLista= [4, 76]
print(minhaLista[:3] + novaLista)

[76, 92.3, 'oi', 4, 76]

In [9]:
#prática1
tupla_numeros= 10,20,20
print(tupla_numeros)
tupla_elemento = 10
print(tupla_elemento)

(10, 20, 20)
10

In [11]:
nova_tupla = tuple('teste')
print(nova_tupla)
tupla_nomes =('Marlene', 'zezinho', 'Marlene', 'Cybele', 'Zuely')
tupla_nomes.count('\arlene')
print(tupla_nomes.count('suely'))
print(tupla_nomes.count('Zezinho'))
tupla_numero = 1,2,2,3,4,4,4,5
print(tupla_numero.count(4))

('t', 'e', 's', 't', 'e')
0
0
3